@page "/"

<PageTitle>Profile - Blazor</PageTitle>

<div class="toggle-buttons">
    <button class="toggle-btn" onclick="window.location.href='http://localhost:4200'">Angular</button>
    <button class="toggle-btn active">C# .NET</button>
</div>

<h1>Hello, world!</h1>
